.card {
   width: 190px;
   height: 130px;
   color: white;
   font-weight: 700;
   padding: 20px;
   margin: 3px;
   border-radius: 4px;
}

.year {
   font-weight: 300;
   display: block;
   font-size: .7em;
   line-height: 2.4em;
}

.card:hover {
   cursor: pointer;
   /*transform: rotate(360deg);*/
   transform: rotate(3deg) scale(1.1);
   transition: transform .2s;
}

.card:active {
   transform: rotate(-3deg) scale(1.2);
   transition: transform .05s;
}